@import "tailwindcss";

body {
    /* background-color: theme('colors.gray.200');
    font-family: theme('fontFamily.mono'); */

}

html {
    font-family: Courier New, monospace, "Roboto Mono", monospace;

    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}